<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <base href="http://portal.metodista.br/msg/institucional/comunicados-2019/novo/template/" />


  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Educação Metodista</title>

  <style type="text/css">
    .ExternalClass {
      width: 100%;
    }

    /* Força o Hotmail a exibir o email com a largura total */
    .ExternalClass,
    .ExternalClass td {
      line-height: 100%;
    }

    /* Força o Hotmail a exibir o espaçamento normal entre linhas */
    table {
      border-collapse: collapse;
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
    }

    /* Remove o espaçamento entorno das tabelas no Outlook 07, 10 */
    table td {
      border-collapse: collapse;
    }

    /* Corrige o padding no Outlook 07, 10 */
    td {
      margin: 0;
      padding: 0;
      font-size: 0px;
    }

    /* Zera os espaçamentos */
    img {
      display: inline-block;
      max-width: 100%;
      outline: none;
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
    }


    @media only screen and (max-width: 600px) {
      img[class="hide"] {
        display: block !important;
      }
    }

    @media only screen and (max-width: 600px) {
      table[class="content-wrap"] {
        width: 94% !important;
      }
    }
  </style>

</head>

<body bgcolor="#F5F2EB">
  {{> header }}
  {{{ body }}}
  {{> footer }}
</body>

</html>
