 </td>
                                        <td width="5%"> </td>

                                    <!-- INSCREVA-SE -->

                                    </table>
                                    <!-- FIM DO BOTÃO -->
                            </td>
                            <td width="5%"></td>
                        </tr>
                        <tr height="20">
                            <td width="5%"> </td>
                            <td width="90%" bgcolor="#FFFFFF"> </td>
                            <td width="5%"> </td>
                        </tr>
                        <tr>
                            <td width="5%"></td>
                            <td width="90%" bgcolor="#FFFFFF">
                                    <!-- BOTÃO -->
                                    <table width="100%">
                                        <td width="25%"> </td>
                                        <td bgcolor="{{ color }}" width="50%" height="40" align="center">
                                            <p style="font-family:Verdana, sans-serif; font-size:16px; color:#404040; margin: 0; padding: 0;">
                                            <a href="{{ctaUrl}}" style="font-family:Verdana, sans-serif; font-size:14px; color:#fff; text-align: center; text-decoration: none; font-weight: bold;display:block; padding:5px; text-transform:uppercase;">
                                            {{ctaText}}
                                            </a>
                                            </p>
                                        </td>
                                        <td width="25%"> </td>
                                    </table>
                                    <!-- FIM DO BOTÃO  -->
                            </td>
                            <td width="5%"></td>
                        </tr>

                        <tr height="20">
                            <td width="5%"></td>
                            <td width="90%" bgcolor="#FFFFFF"> </td>
                            <td width="5%"></td>
                        </tr>

                    </table>
                  </td>
                </tr>
                <!-- LINHA 3 -->

                <!-- RODAPÉ -->
                <tr>
                  <td width="100%">
                      <table width="100%" bgcolor="#ececec">
                        <tr>
                            <td width="5%"></td>
                            <td width="90%" bgcolor="#ececec" height="70" align="right">

                                            <a href="http://portal.metodista.br" target="_blank" title="Universidade Metodista de São Paulo">
                                            <img src="http://educacaometodista.org.br/msg/comunicados/2019-2/logo-educacao-cinza.png" alt="Universidade Metodista de São Paulo" />
                                            </a>

                            </td>
                            <td width="5%"></td>
                        </tr>
                    </table>
                  </td>
                </tr>

              </table>
            </td>
          </tr>
          <tr>
            <td width="100%" height="20"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
