<p style="font-family:Verdana, sans-serif; font-size:15px; color:#404040; text-align: left;">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
  aliqua.
</p>

<p style="font-family:Verdana, sans-serif; font-size:15px; color:#404040; text-align: left;">
  <a href="http://portal.metodista.br/ead/processo-seletivo/resultados/" target="_blank" title=""
    style=" font-weight:bold; color:#0057A4; text-decoration:none">
    Ut enim ad minim veniam</a>, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
  aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
</p>
<p style="font-family:Verdana, sans-serif; font-size:15px; color:#404040; text-align: left;">
  <img src="http://portal.metodista.br/msg/institucional/comunicados-2019/novo/bullet-azul.png" /> Sed ut perspiciatis
  unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam<br />
  <img src="http://portal.metodista.br/msg/institucional/comunicados-2019/novo/bullet-azul.png" />eaque ipsa quae ab
  illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.<br />
  <img src="http://portal.metodista.br/msg/institucional/comunicados-2019/novo/bullet-azul.png" />Nemo enim ipsam
  voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
  voluptatem sequi nesciunt.
</p>
